<div class="splash-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Welcome to NinjaRater.com</h1>
                    <h3>Ninja Rater is a Comparative Rater that lets you INSTANTLY Quote
                        Workers Compensation Rates from ALL MAJOR CARRIERS!</h3>
                    <hr class="intro-divider">
                    <h3>Sign up for a FREE DEMO today!</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="#/signup" class="btn btn-default btn-lg"><i class="fa fa-plus"></i><span> <b>Sign Up!</b></span></a>
                        </li>
                        <li>
                            <a href="#/login" class="btn btn-default btn-lg"><i class="fa fa-sign-in"></i><span> Existing Member Sign In</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>